body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Helvetica', 'Sans-Serif';
  margin: 0;
  padding: 0;
  background-image: url('./assets/images/landscape-1844227.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

#content {
  position: relative;
  display: flex;
  flex-direction: column;
}

#current {
  align-self: center;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 7rem;
  width: 50rem;
}

#current-picture {
  width: 10rem;
}

.current-weather {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: 1fr 3fr repeat(4, 1fr);
  grid-template-areas:
    'currentText currentText picture picture'
    'temp temp picture picture'
    'feels feels picture picture'
    'humIcon precIcon windIcon dirIcon'
    'hum prec wind dir'
    'humValue precValue windValue dirValue';
  justify-items: center;
  align-items: center;
  grid-row-gap: 0.75em;
  grid-column-gap: 1em;
}

.current-text {
  grid-area: currentText;
  align-self: flex-end;
  font-size: 1.25em;
}

.current-temp {
  min-width: max-content;
  grid-area: temp;
  font-size: 4em;
}

.current-feels {
  grid-area: feels;
  align-self: flex-start;
  font-size: 1.3em;
  font-weight: bold;
}

.current-picture {
  grid-area: picture;
}

.current-humidity-icon {
  grid-area: humIcon;
}

.current-humidity-title {
  grid-area: hum;
}

.current-humidity-value {
  grid-area: humValue;
}

.current-precipitation-icon {
  grid-area: precIcon;
}

.current-precipitation-title {
  grid-area: prec;
}

.current-precipitation-value {
  grid-area: precValue;
}

.current-windSpeed-icon {
  grid-area: windIcon;
}

.current-windSpeed-title {
  grid-area: wind;
}

.current-windSpeed-value {
  grid-area: windValue;
}

.current-windDir-icon {
  grid-area: dirIcon;
}

.current-windDir-title {
  grid-area: dir;
}

.current-windDir-value {
  grid-area: dirValue;
}

.current-humidity-title,
.current-precipitation-title,
.current-windSpeed-title,
.current-windDir-title {
  font-size: 1.1em;
  font-weight: 500;
}

.current-humidity-value,
.current-precipitation-value,
.current-windSpeed-value,
.current-windDir-value {
  font-size: 1.1em;
}

#current-details {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.75rem;
  padding: 0 3rem;
}

#current-weekday {
  font-size: 3rem;
}

#current-date {
  font-size: 1.5rem;
}

#current-time {
  font-size: 1.5rem;
}

#current-location {
  position: relative;
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  gap: 0.25rem;
  transition: font-size 0.25s ease-in-out;
}

.search-city {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 1.5rem;
  left: 0rem;
  width: 100%;
  background-color: none;
  pointer-events: none;
  opacity: 0;
  font-size: 1rem;
  transform: translateY(0);
  transition: opacity 100ms ease-in, transform 100ms ease-in,
    font-size 100ms linear;
}

.input {
  font-size: inherit;
  padding: 0.25rem;
  border-radius: 0.25rem;
  width: 14rem;
  background: transparent;
  box-shadow: none;
  outline: none;
  color: inherit;
  border: 2px solid;
  border-color: inherit;
}

#current-location:hover > .search-city {
  pointer-events: auto;
  opacity: 1;
  font-size: 1.25rem;
  transform: translateY(0.5rem);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out,
    font-size 250ms ease-in-out;
}

#forecast {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 5rem;
  overflow-x: auto;
  max-width: 80vw;
  margin-bottom: 3rem;
}

.forecast-day {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr repeat(3, 1fr);
  grid-template-areas:
    'date date date date'
    'avg avg picture picture'
    'minMax minMax forecastText forecastText'
    'humIcon precIcon windIcon windIcon'
    'humValue precValue windValue windValue';
  align-items: center;
  justify-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.25rem;
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out,
    border-radius 0.5s ease-in-out;
}

.forecast-date {
  grid-area: date;
  align-self: flex-end;
  font-size: 1.25em;
}

.forecast-avg {
  grid-area: avg;
  font-size: 2.25em;
}

.forecast-picture {
  grid-area: picture;
}

.forecast-minMax {
  grid-area: minMax;
  align-self: flex-start;
}

.forecast-text {
  grid-area: forecastText;
  align-self: flex-start;
}

.forecast-humidity-icon {
  grid-area: humIcon;
}

.forecast-humidity-value {
  grid-area: humValue;
}

.forecast-precipitation-icon {
  grid-area: precIcon;
}

.forecast-precipitation-value {
  grid-area: precValue;
}

.forecast-windSpeed-icon {
  grid-area: windIcon;
}

.forecast-windSpeed-value {
  grid-area: windValue;
}

.forecast-humidity-value,
.forecast-precipitation-value,
.forecast-windSpeed-value {
  font-size: 0.8em;
}

#forecast > .forecast-day:hover {
  border: 0.15rem solid black;
  border-radius: 0.5rem;
  background-color: aliceblue;
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out,
    border-radius 0.5s ease-in-out;
  cursor: pointer;
}

#current-location:hover {
  font-size: 1.5rem;
  transition: font-size 0.25s ease-in-out;
  cursor: pointer;
}

body.night {
  color: aliceblue;
}

#details {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 20%;
  top: 110%;
  width: 60vw;
  height: 80vh;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1rem);
  /* background-color: aqua; */
  border-radius: 10rem;
  z-index: 1;
  font-size: 2rem;
  padding-right: 8rem;
  transition: top 400ms ease-in-out;
}

#details-day {
  padding: 5rem;
  height: calc(100% - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#details-day > .forecast-day {
  max-height: 20rem;
}

.astro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  font-size: 1.5rem;
}

.astro-sun {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'sunrise-time sun sunset-time'
    'sunrise sun sunset';
  justify-items: center;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.astro-moon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'moonrise-time moon moonset-time'
    'moonrise moon moonset';
  justify-items: center;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.sunrise-time {
  grid-area: sunrise-time;
}

.sunrise {
  grid-area: sunrise;
}

.sun-picture {
  grid-area: sun;
  width: 4rem;
}

.sunset {
  grid-area: sunset;
}

.sunrise {
  grid-area: sunrise;
}

.moonrise {
  grid-area: moonrise;
}

.moonrise-time {
  grid-area: moonrise-time;
}

.moon-picture {
  grid-area: moon;
  width: 4rem;
}

.moonset {
  grid-area: moonset;
}

.moonset-time {
  grid-area: moonset-time;
}

.moonset-time,
.moon,
.moonrise-time {
  /* padding-top: 0.5rem; */
}

#close-details {
  position: absolute;
  margin: 0;
  padding: 0.15rem 0.5rem;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  top: 2%;
  left: 90%;
  cursor: pointer;
}

#details-hours {
  align-self: center;
  overflow-y: scroll;
  max-height: 70vh;
  min-width: fit-content;
  box-sizing: border-box;
  text-align: center;
}

#details-hours .current-weather {
  box-sizing: border-box;
  font-size: 0.7rem;
  padding: 0;
  margin-bottom: 5rem;
  margin-right: 1rem;
  min-width: 0;
}

#details-hours .current-picture {
  width: 12em;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#details.active {
  top: 10%;
  transition: top 400ms ease-in-out;
}
